# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sqlite
*.json
*.suo
/.vs/G4G-Solutions/v16/ipch/AutoPCH/e657947f441de120/LISTREMOVE.ipch
/.vs/G4G-Solutions/v16/ipch/AutoPCH/e657947f441de120
/.vs/G4G-Solutions/v16/ipch/AutoPCH/d5228aa3923d2dd2/MYLINKEDLIST.ipch
/.vs/G4G-Solutions/v16/ipch/AutoPCH/d5228aa3923d2dd2
/.vs/G4G-Solutions/v16/ipch/AutoPCH/969b22f72b979d20/LONGESTCOMMONSUBSEQUENCE.ipch
/.vs/G4G-Solutions/v16/ipch/AutoPCH/969b22f72b979d20
/.vs/G4G-Solutions/v16/ipch/AutoPCH/3687a064424d5360/SORTEDLISTINSERT.ipch
/Debug/SortedListInsert.pdb
/Debug/SortedListInsert.ilk
/.vs/G4G-Solutions/v16/Solution.VC.db-wal
/.vs/G4G-Solutions/v16/Solution.VC.db-shm
/.vs/G4G-Solutions/v16/Solution.VC.db
/.vs/G4G-Solutions/v16/Browse.VC.opendb
/.vs/G4G-Solutions/v16/Browse.VC.db
/SortedListInsert/Debug/vc142.pdb
/SortedListInsert/Debug/vc142.idb
/SortedListInsert/Debug/SortedListInsert.log
/SortedListInsert/Debug/SortedListInsert.tlog/SortedListInsert.lastbuildstate
/SortedListInsert/Debug/SortedListInsert.tlog/link.write.1.tlog
/SortedListInsert/Debug/SortedListInsert.tlog/link.read.1.tlog
/SortedListInsert/Debug/SortedListInsert.tlog/link.command.1.tlog
/SortedListInsert/Debug/SortedListInsert.tlog/CL.write.1.tlog
/SortedListInsert/Debug/SortedListInsert.tlog/CL.read.1.tlog
/SortedListInsert/Debug/SortedListInsert.tlog/CL.command.1.tlog
